In [5]:
!pip install pyngrok

Collecting pyngrok
  Downloading pyngrok-7.0.5-py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: PyYAML in ./.venv/lib/python3.11/site-packages (from pyngrok) (6.0.1)
Downloading pyngrok-7.0.5-py3-none-any.whl (21 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.0.5

In [1]:
from pyngrok import ngrok
!ngrok authtoken 2ZjwOwRMWe1xdOQuhwti9eQTXBA_45bBvrKJqeZy7foGQgYWA
# Step 13: Start Streamlit in the background
get_ipython().system_raw('nohup streamlit run project/Main.py &')
# Use ngrok to create a public URL for the Streamlit app
ngrok_tunnel_streamlit = ngrok.connect(addr="8501", proto="http", bind_tls=True)
# Print the public URL for Streamlit app
print("Streamlit app can be accessed at:", ngrok_tunnel_streamlit.public_url)

Authtoken saved to configuration file: /home/user/.config/ngrok/ngrok.yml

Streamlit app can be accessed at: https://43b3-35-233-128-154.ngrok-free.app

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.17.0.4:8505
  External URL: http://35.233.128.154:8505

In [2]:
!pkill ngork

In [3]:
from sqlalchemy import create_engine
import pandas as pd
sqlite_file = 'project/test.sqlite'
engine = create_engine(f'sqlite:///{sqlite_file}')

In [23]:
query = 'SELECT * FROM aggregated_transaction_state;'
df = pd.read_sql(query, engine)
df

,state,year,quarter,type_of_transaction,number_of_transactions,total_amount
0,chandigarh,2018,1,Recharge & bill payments,201262,4.747958e+07
1,chandigarh,2018,1,Peer-to-peer payments,135136,5.279988e+08
2,chandigarh,2018,1,Merchant payments,21431,1.947707e+07
3,chandigarh,2018,1,Financial Services,8473,1.865618e+06
4,chandigarh,2018,1,Others,15593,1.661431e+07
...,...,...,...,...,...,...
3589,himachal-pradesh,2022,4,Merchant payments,15297492,1.028030e+10
3590,himachal-pradesh,2022,4,Peer-to-peer payments,9284824,2.962935e+10
3591,himachal-pradesh,2022,4,Recharge & bill payments,3907023,1.810539e+09
3592,himachal-pradesh,2022,4,Financial Services,24342,3.177534e+07
3593,himachal-pradesh,2022,4,Others,41455,2.738739e+07

In [17]:
cursor.execute("ALTER TABLE aggregated_insurence_country RENAME COLUMN 'name' TO type_of_transaction;")
conn.commit()

In [22]:

cursor.execute("ALTER TABLE aggregated_transaction_state DROP COLUMN 'to_timestamp';")
conn.commit()

In [5]:
import sqlite3
# Connect to the SQLite database
conn = sqlite3.connect('project/test.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# # Close the cursor and connection
# cursor.close()
# conn.close()

Tables in the database:
aggregated_user_counry
map_transaction_hover_state
top_transaction_country
top_insurence_state
aggregated_transaction_state
map_user_hover_contry
map_insurence_hover_counry
agregated_user_state
map_user_hover_state
map_transaction_hover_counry
top_insurence_country
agregated_transaction_country
top_user_country
map_insurence_hover_state
agregated_insurence_country
aggregated_insurence_country
aggregated_insurence_state
top_user_state
top_transaction_state
top_insurance_state