In [5]:
!pip install pyngrok

Collecting pyngrok
  Downloading pyngrok-7.0.5-py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: PyYAML in ./.venv/lib/python3.11/site-packages (from pyngrok) (6.0.1)
Downloading pyngrok-7.0.5-py3-none-any.whl (21 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.0.5

In [1]:
from pyngrok import ngrok
!ngrok authtoken 2ZjwOwRMWe1xdOQuhwti9eQTXBA_45bBvrKJqeZy7foGQgYWA
# Step 13: Start Streamlit in the background
get_ipython().system_raw('nohup streamlit run project/Main.py &')
# Use ngrok to create a public URL for the Streamlit app
ngrok_tunnel_streamlit = ngrok.connect(addr="8501", proto="http", bind_tls=True)
# Print the public URL for Streamlit app
print("Streamlit app can be accessed at:", ngrok_tunnel_streamlit.public_url)

Authtoken saved to configuration file: /home/user/.config/ngrok/ngrok.yml
Streamlit app can be accessed at: https://e8fc-35-247-1-221.ngrok-free.app

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.17.0.4:8501
  External URL: http://35.247.1.221:8501

2024-01-15 06:39:00.034 Uncaught app exception
Traceback (most recent call last):
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 534, in _run_script
    exec(code, module.__dict__)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 103, in <module>
    plot_map_chart(filtered_df)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 41, in plot_map_chart
    fig= px.choropleth(
         ^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_chart_types.py", line 1091, in choropleth
    return make_figure(
           ^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 2076, in make_figure
    args = build_dataframe(args, constructor)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1485, in build_dataframe
    df_output, wide_id_vars = process_args_into_dataframe(
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1210, in process_args_into_dataframe
    raise ValueError(err_msg)
ValueError: Value of 'hover_data_1' is not the name of a column in 'data_frame'. Expected one of ['year', 'quarter', 'state', 'districts_name', 'registered_users'] but received: total_transactions_amount
2024-01-15 06:39:24.705 Uncaught app exception
Traceback (most recent call last):
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 534, in _run_script
    exec(code, module.__dict__)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 103, in <module>
    plot_map_chart(filtered_df)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 41, in plot_map_chart
    fig= px.choropleth(
         ^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_chart_types.py", line 1091, in choropleth
    return make_figure(
           ^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 2076, in make_figure
    args = build_dataframe(args, constructor)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1485, in build_dataframe
    df_output, wide_id_vars = process_args_into_dataframe(
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1210, in process_args_into_dataframe
    raise ValueError(err_msg)
ValueError: Value of 'hover_data_1' is not the name of a column in 'data_frame'. Expected one of ['year', 'quarter', 'state', 'districts_name', 'registered_users'] but received: total_transactions_amount
2024-01-15 06:45:37.069 Uncaught app exception
Traceback (most recent call last):
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 534, in _run_script
    exec(code, module.__dict__)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 103, in <module>
    plot_map_chart(filtered_df)
  File "/home/user/myapp/project/pages/2_üåç_Mapping.py", line 41, in plot_map_chart
    fig= px.choropleth(
         ^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_chart_types.py", line 1091, in choropleth
    return make_figure(
           ^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 2076, in make_figure
    args = build_dataframe(args, constructor)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1485, in build_dataframe
    df_output, wide_id_vars = process_args_into_dataframe(
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/user/myapp/.venv/lib/python3.11/site-packages/plotly/express/_core.py", line 1210, in process_args_into_dataframe
    raise ValueError(err_msg)
ValueError: Value of 'hover_data_1' is not the name of a column in 'data_frame'. Expected one of ['year', 'quarter', 'state', 'districts_name', 'registered_users'] but received: total_transactions_amount

In [5]:
!pkill ngork

In [3]:
from sqlalchemy import create_engine
import pandas as pd
sqlite_file = 'project/test.sqlite'
engine = create_engine(f'sqlite:///{sqlite_file}')

In [26]:
query = 'SELECT * FROM map_transaction_hover_counry;'
df = pd.read_sql(query, engine)
df

,year,quarter,state,total_transactions_count,total_transactions_amount
0,2018,1,puducherry,104212,1.658260e+08
1,2018,1,tamil nadu,6726622,1.126156e+10
2,2018,1,uttar pradesh,12537805,1.393997e+10
3,2018,1,madhya pradesh,8025395,8.681603e+09
4,2018,1,andhra pradesh,9039585,1.199628e+10
...,...,...,...,...,...
715,2022,4,jammu & kashmir,27316158,4.431530e+10
716,2022,4,goa,17192674,2.492499e+10
717,2022,4,arunachal pradesh,4632709,9.684910e+09
718,2022,4,delhi,515203457,7.449150e+11
719,2022,4,uttarakhand,77983880,1.154960e+11

In [24]:
cursor.execute("ALTER TABLE map_user_hover_state RENAME COLUMN 'state_name/ut_name' TO state;")
conn.commit()

In [7]:
import sqlite3
# Connect to the SQLite database
conn = sqlite3.connect('project/test.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# # Close the cursor and connection
# cursor.close()
# conn.close()

Tables in the database:
aggregated_user_counry
map_transaction_hover_state
top_transaction_country
top_insurence_state
aggregated_transaction_state
map_user_hover_contry
map_insurence_hover_counry
agregated_user_state
map_user_hover_state
map_transaction_hover_counry
top_insurence_country
agregated_transaction_country
top_user_country
map_insurence_hover_state
agregated_insurence_country
aggregated_insurence_country
aggregated_insurence_state
top_user_state
top_transaction_state
top_insurance_state